<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CALENDAR</title>
    <link rel="stylesheet" href="/styles/calendar.css">
</head>
<body>
  {%include "/templates/nav.html"%}
  <div  id="googlecalendar">
    <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=NXRpM2g1MmZkYWozMmM3MmdiZGxhZWdocG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D50000" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</body>
</html>
