<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventful | Events</title>
    <link rel="stylesheet" href="/styles/eventpage.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300&display=swap" rel="stylesheet">

</head>

<body>
  <!-- {%include "/templates/nav.html"%} -->
  <div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search clubs">
    <div>
      <ul class = "categories">
        <li><a href="/events">Athletics </a></li>
        <li><a href="/events">Arts</a></li>
        <li><a href="/events"> Academics</a></li>
        <li><a href="/events">Service </a></li>
        <li><a href="/events">Religion</a></li>
        <li><a href="/events">Culture</a></li>
        <li><a href="/events">Greek Life</a></li>
        <li><a href="/events">Volunteer</a></li>
        <li><a href="/events">Housing</a></li>
        <li><a href="/events">Health & Welness</a></li>
        <li><a href="/events">Recreation & Leisure </a></li>
        <li><a href="/events">Other</a></li>
      </ul>
    </div>
    <script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
  </div>

  <div class = "events">
    {% for event in event_block %}
    <h2>{{event.name}} | {{event. name}}s</h2>
    {% endfor %}

    <h2>EVENTS</h2>
    <ul>
      {% for event in events %}
      <a href="   https://calendar.google.com/calendar/render " class="cta gmail-hide"> Save the date </a>
      <a href="http://localhost:8080/events"
      style="display: none;" class="cta gmail-show">Save the date</a>
      <li>

        {{event.event_name}} on {{event.date_and_time}}
        <br>&nbsp &nbsp Time: {{event.time}}
        <br>&nbsp &nbsp Location: {{event.location}}
        <br>&nbsp &nbsp Put on by: {{event.organization_name}}
        <br> . . .
        <p><br> </p>
      </li>
      {% endfor %}
      </ul>
    </div>
  



    <script>
      function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("categorylist");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
      </script>

<script src="/scripts/eventful.js"></script>
<footer> links </footer>
</body>
</html>
