
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventful | Events</title>
    <link rel="stylesheet" href="/styles/eventpage.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300&display=swap" rel="stylesheet">

</head>

<body>
  {%include "/templates/nav.html"%}
  <div class = "categorylist">
    <input type="text" id = "myInput" onkeyup= "myFunction()" placeholder= "Search clubs">
      <ul id = "myUL">
        <li id = "myUL"><a href="/events">Academics</a></li>
        <li id = "myUL"><a href="/events">Arts</a></li>
        <li id = "myUL"><a href="/events">Athletics </a></li>
        <li id = "myUL"><a href="/events">Culture</a></li>
        <li id = "myUL"><a href="/events">Greek Life</a></li>
        <li id = "myUL"><a href="/events">Health</a></li>
        <li id = "myUL"><a href="/events">Housing</a></li>
        <li id = "myUL"><a href="/events">Recreation</a></li>
        <li id = "myUL"><a href="/events">Religion</a></li>
        <li id = "myUL"><a href="/events">Service </a></li>
        <li id = "myUL"><a href="/events">Volunteer</a></li>
        <li id = "myUL"><a href="/events">Other</a></li>
      </ul>
  </div>

  <div class = "events">
    {% for event in event_block %}
    <h>{{event.name}} | {{event.name}}s</h>
    {% endfor %}
    <ul>
      {% for event in events %}
      <a href="   https://calendar.google.com/calendar/render " class="cta gmail-hide"> Save the date </a>
      <a href="http://localhost:8080/events" style="display:none;" class="cta gmail-show">Save the date</a>
      <li class = "event_detail">
        {{event.event_name}} on {{event.date_and_time}}
        <br>&nbsp &nbsp Time: {{event.time}}
        <br>&nbsp &nbsp Location: {{event.location}}
        <br>&nbsp &nbsp Put on by: {{event.organization_name}}
        <br> . . .
        <p><br> </p>
      </li>
      {% endfor %}
    </ul>
  </div>


  <div >
    <script>
      function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');
        console.log("Hello world!");
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
    </script>
  </div>


  <script src="/scripts/eventful.js"></script>
  <!-- <footer class = "footer">  </footer> -->
</body>
</html>
