<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>

    <select>
        <option value="Loyola Marymount University">Loyola Marymount University</option>
        <option value="University of California Los Angeles">University of California Los Angeles</option>
        <option value="University of Southern California">University of Southern California</option>
        <option value="Pepperdine University">Pepperdine University</option>
      </select>
    <p><input type = "submit" value = "Search"></p>
  {%include "/templates/nav.html"%}
</body>
</html>
