<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<form method="POST" action="/events" >
    <select name="college_name" id="collegechoice">
        <option value="Loyola Marymount University" class="college">Loyola Marymount University</option>
        <option value="University of California Los Angeles" class="college">University of California Los Angeles</option>
        <option value="University of Southern California" class="college">University of Southern California</option>
        <option value="Pepperdine University" class="college">Pepperdine University</option>
      </select>
    <p><input id="searchbtn" type = "submit" value = "Search"></p>
    {%include "/templates/nav.html"%}
</form>
<script src="/scripts/eventful.js"></script>

</body>
</html>
