body {
    display:grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 4% 96%;
    height: 100vh;
    background-color: rgb(240,240,240);
}

.addevent_center{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    z-index: 1; 
}

.form { 
    display:grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 14px 14px 14px 14px;
    border-radius: 2px;
    width: 88%;
    height: 70%;
    margin-top: 2%;
}

#formtext { 
    font-family: 'arial';
    font-weight: bold;
    font-size: 20px;
    
}
