.addevent_center{
    display:grid;
    grid-template-columns: 25%, auto, 25%;
    grid-column: 2;
    text-align: left;
    position: relative;
    z-index: 1; 
}

.header { 
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 26px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.title {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: -1%;
    margin-left: -7px;
}

.subtitle {
    margin-top: 0px;
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    letter-spacing: 22px;
    /* margin-left: 10px; */
    margin-bottom: 100px;
}