u ~ div .foo {
}

u ~ div .gmail-show {
display:block!important;
}

.wrapper{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 5px;
grid-auto-rows: minmax( auto);
}

.one{
  grid-column: 1 / 2;
   grid-row: 2/ 3;
   border-style:solid;
   border-width: thin;
  border-spacing: inherit;
  height:auto;
margin-left: 25%;

}

.two{
  grid-column: 2/2;
  grid-row: 2/3;
  border-style:solid;
  border-width: thin;
  height:auto;
margin-right: 25%;
max-width: inherit;

}

.foo{
  grid-column: 2/2;
  grid-row: 2/3;
}

h2{
  font-weight: bold;
  font:normal Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 35px;
}

li{
  font-family: sans-serif;
  text-align: justify;
}

}
footer{
  grid-row: 3/3;
  margin-left: 25%;
  margin-right: 25%;
  height: auto;
  border-width: thin;
  border-style: solid;
}

body{
  background-color: #f0f0f0;
  align-content: center;
  align-self: center;
  align-items: center;
}
