

u ~ div .gmail-show {
display:block!important;
}

.wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5% 90% 5%;
  /* grid-gap: 5px; */
}

#events{
  grid-row: 2;
  grid-column: 2;
}

#categories{
  grid-row: 2;
  grid-column: 1;
}

.one{
  grid-column: 1;
  grid-row: 2;
  border-style:solid;
  border-width: thin;
  border-spacing: inherit;
  height:auto;
  margin-left: 25%;
}

.two{
  grid-column: 2;
  grid-row: 2;
  border-style:solid;
  border-width: thin;
  height:auto;
  margin-right: 25%;
  max-width: inherit;
}

.two {
  /* grid-row: 2;
  grid-column: 2;
  border: 2px solid red; */
}

<<<<<<< HEAD
/* .foo{
  align: left;
} */
=======
.foo{
  grid-column: 2/2;
  grid-row: 2/3;
  text-align: left;
}
>>>>>>> 840f39e167439492e56f0736ccc6ec58c4f3cdab

h2{
  font-weight: bold;
  font:normal Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 35px;
}

li{
  font-family: sans-serif;
  text-align: justify;
}


ul {
  list-style-type: none;
 }

footer{
  grid-column: 1/ span 2;;
  grid-row: 3;
  margin-top: auto;
  margin-left: 25%;
  margin-right: 25%;
  height: auto;
  border: 2px solid black;
  border-width: thin;
  background-color: #dbdbdb;
  text-align: center;
}


body{
  background-color: #f0f0f0;
  align-content: center;
  align-self: center;
  align-items: center;
}
