

body {
  display:grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 5% auto;
  height: 100vh;
  width: 100vw;
  background-color:rgb(240,240,240);
}

.select{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  position: relative;
}

p.statement{
  font-family: 'Barlow', sans-serif;
  font-size: 26px;
  display: flex;
  justify-content:  center;
  align-items: center;
  text-align: center;
  margin-left: -7px;
}

#search{
  display: flex;
  align-items: center;
  justify-content: center;

}


#searchbtn{
  font-size: 20px;
  letter-spacing: 1px;
  background-color: rgb(0,0,0);
  color: white;
  border:none;
  width:40%;
  padding: 10px;
  border-radius: 25px;
  opacity: 0.7;
  transition: 0.3s;
  bottom: 20px;

}
#searchbtn:hover{opacity:1}

#collegechoice {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-family: 'arial';
  margin-top: 700px;
}

#form {
  height: 50px;
}

#Jodi {
  grid-column-start: 1;
  position: relative;
  top: 800px;
  height: 20px
}

.name {
  display: flex;
  justify-content: center;
  position: relative;
  top: 115px;
  font-size: 24px;
}

#jodilinkedin {
  display: flex;
  justify-content: center;
  width: 70px;
  margin: 0 auto;
  margin-top: 10px;
}

#group_image {
  width: 200px;
  height: 200px;
  margin-top: 500px;


}

#jodilinkedin:hover{opacity: .8}

#heidilinkedin {
  display: flex;
  justify-content: center;
  width: 70px;
  margin: 0 auto;
  margin-top: 10px;
}

#heidilinkedin:hover{opacity: .8}

#warrenlinkedin {
  display: flex;
  justify-content: center;
  width: 70px;
  margin: 0 auto;
  margin-top: 10px;
}

#warrenlinkedin:hover{opacity: .8}

#Heidi {
  grid-column: 2;
  position: relative;
  top: 800px;
  height: 20px;
}

#Warren {
  grid-column: 3;
  position: relative;
  top: 800px;
  height: 20px;
}
