
.select{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  position: relative;
  z-index: 1;
  top: 280px;
}

.statement{
  font-family: serif;
  font-size: 18px;
  position:relative;
  justify-content:  center;
  align-items: center;
  text-align: center;
}


#search-button{
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(0,0,0);
  color: white;
  border:none;
  width: 150px;
  padding: 10px;
  border-radius: 25px;
  opacity: 0.7;
  transition: 0.3s;


}
