* {
    margin: 0;
}

.nav_position {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav_text {
    color: rgb(136, 156, 187);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: rgb(156, 176, 207);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100vw;
    
}

#nav_icon {
    margin: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}
#nav_icon:hover{background-color: rgb(136, 156, 187)}




/* LOGO EVENTFUL */
#logo{
    /* display:flex;
    justify-content: flex-start;
    align-items: center; */
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
    padding-top: -5px;
    padding-bottom:-5px;
}
